@model IEnumerable<eAuto.Models.AutoNuevo>

@{
    ViewBag.Title = "Index";
    int counter = 0;
}

<h2>Index</h2>

@if (Session["IdUsuario"] != null)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<div class="row">
    @foreach (var article in Model)
    {
        if (counter != 0 && counter % 4 == 0)
        {
            @:</div>
            @:<div class="row">
    }

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Imagenes/AutosNuevos/@article.ImagenPath" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h3 id="thumbnail-label">@article.Marca.NombreMarca</h3>
                    <p>@article.Modelo.NombreModelo</p>
                    <p>@article.Descripcion</p>
                    <a>@Html.ActionLink("Edit", "Edit", new { id = article.IdAutoNuevo })</a>
                    <a>@Html.ActionLink("Details", "Details", new { id = article.IdAutoNuevo })</a>
                    <a>@Html.ActionLink("Delete", "Delete", new { id = article.IdAutoNuevo })</a>

                </div>
            </div>
        </div>

        counter++;
    }
</div>