@model eAuto.Models.Agencia

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Agencia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdAgencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdAgencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NombreAgencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreAgencia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Web)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Web)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
