@model IEnumerable<eAuto.Models.Agencia>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdAgencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NombreAgencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Web)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdAgencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NombreAgencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Web)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.IdAgencia }) |
            @Html.ActionLink("Details", "Details", new { id = item.IdAgencia }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.IdAgencia })
        </td>
    </tr>
}

</table>
