@model eAuto.Models.AutoUsado

@{
    ViewBag.Title = "Details";
}


<div class="jumbotron">
    <div class="container">
        <h2>Marca: @Html.DisplayFor(model => model.Marca.NombreMarca)</h2>
        <br />
        <img src="~/Imagenes/AutosUsados/@Html.DisplayFor(model => model.ImagenPath)" />
        <br />
        <strong>@Html.DisplayNameFor(model => model.Modelo.NombreModelo): </strong><p> @Html.DisplayFor(model => model.Modelo.NombreModelo)</p>
        <strong>@Html.DisplayNameFor(model => model.Precio): </strong><p> @Html.DisplayFor(model => model.Precio)</p>
        <strong>@Html.DisplayNameFor(model => model.EstadoAuto.NombreEstado): </strong><p>@Html.DisplayFor(model => model.EstadoAuto.NombreEstado)</p>
        <strong>@Html.DisplayNameFor(model => model.Color.NombreColor)</strong><p>@Html.DisplayFor(model => model.Color.NombreColor)</p>
        <strong>@Html.DisplayNameFor(model => model.Descripcion): </strong><p> @Html.DisplayFor(model => model.Descripcion)</p>
        <strong>@Html.DisplayNameFor(model => model.Km): </strong><p> @Html.DisplayFor(model => model.Km)</p>
        <strong>Publicado: </strong><p> @Html.DisplayFor(model => model.FechaCreacion)</p>
        <h2>Informacion del Vendedor</h2>
        <strong>@Html.DisplayNameFor(model => model.Usuario.Nombre): </strong><p> @Html.DisplayFor(model => model.Usuario.Nombre)</p>
        <strong>@Html.DisplayNameFor(model => model.Usuario.Apellidos): </strong><p> @Html.DisplayFor(model => model.Usuario.Apellidos)</p>
        <strong>@Html.DisplayNameFor(model => model.Usuario.Telefono): </strong><p> @Html.DisplayFor(model => model.Usuario.Telefono)</p>
        <br />
        @if (Session["IdUsuario"] == null)
        {
            <a>@Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })</a>
        }
        else
        {
            if ((bool)Session["Admin"] == true || Convert.ToInt32(Session["IdUsuario"]) == Model.IdUsuario )
            {
                <a>@Html.ActionLink("Edit", "Edit", new { id = Model.IdAutoUsado }, new { @class = "btn btn-warning" })</a>
                <a>@Html.ActionLink("Eliminar", "Delete", new { id = Model.IdAutoUsado }, new { @class = "btn btn-danger" })</a>
            }
        }

    </div>
</div>
