@model eAuto.Models.AutoUsado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

   
<div>
    <h4>AutoUsado</h4>
    <hr />

    <div class="jumbotron">
        <h2>@Html.DisplayNameFor(model => model.Marca.NombreMarca): @Html.DisplayFor(model => model.Marca.NombreMarca)</h2>
        <p>@Html.DisplayNameFor(model => model.Modelo.NombreModelo): @Html.DisplayFor(model => model.Modelo.NombreModelo)</p>
        <p>@Html.DisplayNameFor(model => model.Precio): @Html.DisplayFor(model => model.Precio)</p>
        <p>@Html.DisplayNameFor(model => model.Descripcion): @Html.DisplayFor(model => model.Descripcion)</p>
        <p>@Html.DisplayNameFor(model => model.Color.NombreColor): @Html.DisplayFor(model => model.Color.NombreColor)</p>
        <p>@Html.DisplayNameFor(model => model.Km): @Html.DisplayFor(model => model.Km)</p>
        <img src="~/Imagenes/AutosUsados/@Html.DisplayFor(model =>model.ImagenPath)" />
        <p>Dueño: @Session["Correo"].ToString()</p>

        <br />
        <br />
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.IdAutoUsado }, htmlAttributes: new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Back to List", "Index",  new { @class = "btn btn-success" })
        </p>
    </div>

    
</div>
