@model IEnumerable<eAuto.Models.AutoUsado>

@{
    ViewBag.Title = "Index";
    int counter = 0;
}

<h2>Index</h2>


<p>
    @Html.ActionLink("Create New", "Create", new { @class = "btn btn-primary" })
</p>




<div class="row">
    @foreach (var article in Model)
    {
        if (counter != 0 && counter % 3 == 0)
        {
            @:</div>
        
        @:<div class="row">
    }

        <div class="col-md-4">
            <div class="thumbnail">
                <img src="~/Imagenes/AutosUsados/@article.ImagenPath" data-holder-rendered="true" style="height: 200px; width: 100%; display: block;">
                <div class="caption">
                    <h3 id="thumbnail-label">Marca: @article.Marca.NombreMarca</h3>
                    <p>@Html.DisplayNameFor(model => model.Modelo.NombreModelo): @article.Modelo.NombreModelo</p>
                    <p>@Html.DisplayNameFor(model => model.Precio): $@article.Precio</p>
                    <p>@Html.DisplayNameFor(model => model.EstadoAuto.NombreEstado): @article.EstadoAuto.NombreEstado</p>
                    <p>
                        @Html.ActionLink("Edit", "Edit", new { id = article.IdAutoUsado }, htmlAttributes: new { @class = "btn btn-warning" }) 
                        @Html.ActionLink("Details", "Details", new { id = article.IdAutoUsado }, htmlAttributes: new { @class = "btn btn-success" }) 
                        @Html.ActionLink("Delete", "Delete", new { id = article.IdAutoUsado }, htmlAttributes: new { @class = "btn btn-danger" })
                    </p>
                </div>
            </div>
        </div>

        counter++;
    }
</div>

